@use "../utils" as u;

.featured-projects {
    text-align: center;
    padding-bottom: 70px;

    .featured-projects__title {
        margin-bottom: 0;
    }

    .featured-projects__text {
        margin: 0 0 50px 0;
    }

    // Tablet-only styles
    @include u.tablet-only {
        padding-bottom: 100px;

        .featured-projects__card-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: max-content;
            margin: auto;
            width: 85%;
            gap: 30px;
        }
    }

    // Desktop-only styles
    @include u.desktop-only {
        .featured-projects__title {
            font-size: 2rem;
        }

        .featured-projects__card-container {
            max-width: 1200px;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;
        }
    }
}